/* Globals*/

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}
.dataTables_wrapper a,
.dataTables_wrapper a:focus,
.dataTables_wrapper a:hover {
  color: #000000;
  margin-left: 5px;
  height: 35px;
  width: 35px;
  border-radius: 35px !important;
  border-color: white;
}

#VistaGeneral{
  background: rgba(0, 0,0,0.465);
}
/* Base structure*/


/*Oscurecemos el fondo detrás del modal para darle mas importancia*/
.modal-backdrop{
  opacity:0.3; transition:opacity .3s;
}
.modal-backdrop.in{
  opacity:0.9;
}
#modalEscoger {
    opacity:2 !important;
    /*background: rgba(0, 0,0,0.965);*/
    background: rgba(0, 0,0,0.965);
}


.cover-container {
  max-width: 42em;
}
/*Cargar archivo*/
.file-upload input[type='file'] {
  display: none;
}

.custom-file-label.rounded-pill {
  border-radius: 50rem;
}

.custom-file-label.rounded-pill::after {
  border-radius: 0 50rem 50rem 0;
}
/*Blanco y negro en menu de sitios disponibles*/
.BnW{
transition: filter .5s ease-in-out;
-webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
filter: grayscale(100%); /* FF 35+ */
}
.BnW:hover{
-webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
filter: grayscale(0%); /* FF 35+ */
}
.bg-semi{
    /*  background: rgba(255, 255,255,0.665) !important;*/
      background-color: white;
    /*filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(64deg) brightness(110%) contrast(101%);*/
}

 @media all and (min-height: 11px) {
  .test-area {
     font-size: 3px !important;
   }
 }

 @media all and (min-height: 600px) {
   .test-area {
     font-size: 9px !important;
   }
 }

  @media all and (min-height: 900px) {
    .test-area {
      font-size: 11px !important;;
    }
  }

  @media all and (min-height: 1200px) {
    .test-area {
      font-size: 14px !important;
    }
  }


/* Cover */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


.blink
{
  animation: blink 7s steps(100, start) infinite;
  -webkit-animation: blink 7s steps(100, start) infinite;
}
@keyframes blink
{
  to
  {
      visibility: hidden;
  }
}
@-webkit-keyframes blink
{
  to
  {
      visibility: hidden;
  }
}

hr.separator{
	border-top: 1px solid #8c8b8b;
}

/*CSS Cover*/
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/*CSS Rooms*/
.resizable {
  width: 150px;
  height: 150px;
  padding: 3px;
  position: absolute !important;
}

.resizable h3 {
  text-align: center;
  margin: 0;
}

.line div {
  display: inline-block;
  border: 1px solid black;
}

.ui-icon-gripsmall-diagonal-se {
  z-index: 1 !important;
}
.input-group-append .input-group-text, .input-group-prepend .input-group-text {
    color: #4f4f4f;
}
