/*
** Estilos carrito de compras
*/

.card img {
  position: relative;
  top:-32px;
  height: 130px;
  width: 100%;
  z-index: 1;
}

.bg-orage{
  background: #FA700C !important;
  color: white;
}

/* .btn {
  background-color: white;
  border: 1px solid #cccccc;
  color: #696969;
  padding: 0.5rem;
} */
.btn--block {
  display: block;
  width: 100%;
}

.card-filter {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 10px;
  transition: 0.3s;
}

.card-filter:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container-card {
  padding: 2px 16px;
}

.categoria{
  background: #3498DB;
}

a.boton:hover{
  color: white !important;
}

a.boton:visited{
  color: white !important;
}

input[type="button"],
button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-user-select: none; /* for button */
   -webkit-appearance: button; /* for input */
     -moz-user-select: none;
      -ms-user-select: none;
}


.boton{
      text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
			text-align:center;
			text-decoration: none;
      font-family: 'Helvetica Neue', Helvetica, sans-serif;
      display:inline-block;
			color: #FFF;
			background: #7F8C8D;
			padding: 7px 20px;
			white-space: nowrap !important;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			margin: 10px 5px;
			-webkit-transition: all 0.2s ease-in-out;
			-ms-transition: all 0.2s ease-in-out;
			-moz-transition: all 0.2s ease-in-out;
			-o-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
}

.categoria{
  text-transform:lowercase !important;
}

.text-price{
  font-size: .8em;
  font-weight: bold;
  color: #E8210E;
}

.ml-20{
  margin-left: 20px;
}

.pagination{
  margin-left: 20px !important;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.cards__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem;
}

.cards__item .info-product i{
  font-size: 1.1rem;
  cursor: pointer;
}

.cards__item h6{
  font-size: 0.60rem;
}

.cards__item .form-control{
  padding: 0.275rem 0.375rem;
  height: 2.2rem;
}

.cards__item button{
  width: 80%;
  margin: 0.5rem auto;
  padding: 0.5rem 1rem;
}

.cards__item button:hover{
  background-color: #8C0303;
  border-color: #8C0303;
}

.cards__item .card:hover {
  -webkit-box-shadow: -1px 9px 22px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 9px 22px -5px rgba(0,0,0,0.75);
  box-shadow: -1px 9px 22px -5px rgba(0,0,0,0.75);
}

#tabla_productos.collapse {
    overflow:visible !important;
    /*or*/
    position:static !important;
}

/* xs Small devices ( phones, 576px and up) */
@media (min-width: 470px) {
  .cards__item {
    width: 50%;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .cards__item {
    width: 33%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .cards__item {
    width: 25%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .cards__item {
    width: 20%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .cards__item {
    width: 20%;
  }
}

/* Extra very large devices (large desktops, 1500px and up) */
@media (min-width: 1500px) {
  .cards__item {
    width: 18.1% !important;
  }
}

.categoria {
  background: #2F85CC;
  border-radius: 0px 10px 10px 0px;
  color: white;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  padding: 0 10px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  top:0px;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  font-size: 10px !important;
  margin-left: -5px;
  font-weight: bold;
  z-index: 100;
}

.categoria::before {
  background: white;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 8px;
}


.card {
  background-color: white;
  border-radius: 0.2rem;
  box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all .2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  padding: 0px 0px;
}

.card .header{
  height: 130px;
}

.card-2 {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  padding: 5px;
  margin-left: 15px;
  margin-bottom: 20px;
}
.card:hover .card__image {
-webkit-filter: contrast(100%);
        filter: contrast(100%);
}
.card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0.4rem;
}

@media (min-width: 40rem) {
  .card__image::before {
    padding-top: 66.6%;
  }
}

.card__title {
  color: #112F41 !important;
  font-size: 0.68rem !important;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.card__text {
-webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
font-size: 0.875rem;
line-height: 1.5;
margin-bottom: 1.25rem;
}

.label-danger{
  border-radius: 30px !important;
}

.m-short{
  margin-left: 15px;
}

.p-20{
  padding: 20px;
}

.set-width {
  width: 30px;
}

#info-document input[type="number"]{
    width: 80px;
}

/*
** Estilos Formulario documentop
*/

.fields_docp h4{
  margin-left: 1.2em;
}

input::-webkit-input-placeholder {
    font-size: 12px;
    line-height: 3;
}
.text-danger {
    color: #f62d51;;
}
.white-box {
 background:#ffffff;
 padding:25px;
 margin-bottom:10px;
 border-color: rgba(120,130,140,.13);
 border: 1px solid #aaa;
}
.white-box .box-title {
 margin:0px 0px 12px;
 font-weight:500;
 text-transform:uppercase;
 font-size:16px
}
.wizard-steps {
 display:table;
 width:100%
}
.wizard-steps>li {
 display:table-cell;
 padding:10px 20px;
 background:#f7fafc
}
.wizard-steps>li span {
 border-radius:100%;
 border:1px solid rgba(120, 130, 140, 0.13);
 width:40px;
 height:40px;
 display:inline-block;
 vertical-align:middle;
 padding-top:9px;
 margin-right:8px;
 text-align:center
}
.wizard-content {
 padding:5px;
 border-color:rgba(120, 130, 140, 0.13);
 margin-bottom:10px
}
.wizard-steps>li.current,.wizard-steps>li.done {
 background:#2cabe3;
 color:#ffffff
}
.wizard-steps>li.current span,.wizard-steps>li.done span {
 border-color:#ffffff;
 color:#ffffff
}
.wizard-steps>li.current h4,.wizard-steps>li.done h4 {
 color:#ffffff
}
.wizard-steps>li.done {
 background:#53e69d
}
.wizard-steps>li.error {
 background:#ff7676
}
.wiz-aco .pager {
 margin:0px
}
.wizard-content .wizard>.actions{
  margin-top: 10px
}

#tabla_productos thead tr th{
  font-size: 13px;
}

#tabla_productos .bg-primary{
  background-color: #4372AC !important;
  color: white;
}

#validation_master .form-group{
  margin-top:10px !important;
}

#validation_master .form-group label {
  margin-bottom: 0.1rem !important;
}

#validation_master .form-group .form-control{
  color: #585855 !important;
  padding: 2px 12px !important;
}

/* .form-group {
  margin-bottom: 0px !important;
} */


#tipo_doc{
  font-size: 1em;
}
.actions a{
  padding: 2px 4px !important;
  margin-left: 3px;
}

#form-modal label{
  font-weight: bold !important;
  color: #092957;
}

.actions-button{
  max-width: 170px !important;
}

.actions-button a{
  margin-left: .2rem;
  padding: 0rem 0rem;
}

.actions-button .btn span{
  font-size: 0.7rem;
}

.cell-name{
   max-width: 130px !important;
}

.cell-price{
  max-width: 80px !important;
}

.cell-short{
  max-width: 70px;
}

.cell-large{
  max-width: 200px;
}

.dataTables_wrapper .dataTable .btn{
  width: 30px;
  padding: 0 0;
}

.dataTable tr.selected{
  background-color: #D8D6D7 !important;
  color: #fff !important;
}

.editableform .form-control{
  height: 1.8rem;
}

.editable-buttons .btn{
  width: 30px;
  font-size: 0.4rem !important;
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .375rem;
  font-size: .7rem !important;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

.editable-buttons .btn i{
  font-size: .7rem;
}

#data_installation .form-row label{
  color: #363636;
  font-size: 0.9rem;
  margin-bottom: 0;
}

#data_installation .form-row{
  margin-bottom: 0.3rem;
}

/*Tabla historial y logs*/

#table_documentp thead th, #table_documentp_logs thead th{
  width: 100%;
  padding: 0.2rem 0.2rem;
  color: white;
  white-space: pre-line;
}

#table_documentp td, #table_documentp th{
  vertical-align: middle;
}

#table_documentp_logs td, #table_documentp_logs th{
  vertical-align: middle;
}

#table_documentp tbody tr td {
  padding: 0.2rem 0.5rem;
  width: auto !important;
  height: 35px !important;
  white-space: pre-line;
}

#table_documentp_logs thead{
  height: 15px !important;
}

#table_documentp_logs tbody tr td {
  min-width: 120px;
  padding: 0.2rem 0.2rem;
}


/*Tabla resumen de pedido*/

#tabla_productos tbody tr td {
  font-size: 0.8rem;
  padding: 0.2rem 0.2rem;
}

#tabla_productos tbody tr td button.borrar{
  padding: 0;
}
#tabla_productos tbody tr td button.borrar i{
  font-size: 1rem;
}


/* Extra very large devices (large desktops, 1500px and up) */
@media (min-width: 1500px) {
  .cell-name{
     max-width: 180px !important;
  }

  .cell-price{
    max-width: 120px !important;
  }

  .cell-short{
    max-width: 100px;
  }
}
